<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<h1>{{ group?.name }}</h1>
<mat-card appearance="outlined" class="item">
  <mat-card-content>{{group?.description}}</mat-card-content>
</mat-card>
<h2>{{"group.events" | translate}}</h2>
<mat-tab-group>
  <mat-tab [label]="futureLabel">
    <ng-template matTabContent>
      <app-event-list *ngIf="group" [groupId]="group.id">
      </app-event-list>
    </ng-template>
  </mat-tab>
  <mat-tab [label]="allLabel">
    <ng-template matTabContent>
      <app-event-list *ngIf="group" [groupId]="group.id" [all]="true">
      </app-event-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<h2>{{"group.members" | translate}}</h2>
