.usersLength {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

mat-card-title {
  cursor: pointer;

  &:hover {
    color: purple;
  }
}

.member {
  display: flex;

  mat-card-title-group {
    margin-left: 1rem;
  }
}
