<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<mat-card appearance="outlined" class="item">
  <mat-card-content>
    <div class="avatar-card">
      <img class="avatar" ngxGravatar fallback="mp" [md5Hash]="user?.imageVersion!"/>
    </div>

    <mat-card-title>{{ user?.firstName }} {{ user?.lastName }}</mat-card-title>
    <p> {{ "user.description" | translate}}: {{ user?.comment }} </p>
    <p> {{ "user.role" | translate}}: {{ user?.permission }} </p>
  </mat-card-content>
</mat-card>
<mat-card appearance="outlined" class="item">
  <mat-card-content>
    <mat-card-title>{{ "group.events" | translate}}</mat-card-title>
  </mat-card-content>
</mat-card>

<app-user-event-card *ngFor="let event of userService.events$ | async" [event]="event" [user]="user">

</app-user-event-card>

