mat-card-content div {
  display: table-cell;
  text-align: left;
}


.link {
  cursor: pointer;

  &:hover {
    color: purple;
  }
}

.event-card {
  display: flex;
  justify-content: space-between;
}
