mat-card-content div {
  display: table-cell;
  text-align: left;
}

.avatar {
  height: 100px !important;
  width:  100px !important;
}

.link {
  cursor: pointer;

  &:hover {
    color: purple;
  }
}

.event-card {
  display: flex;
  justify-content: space-between;
}
