<mat-card appearance="outlined" class="item">
  <mat-card-content class="event-card">
    <div>
      <mat-card-title class="link"
                      [routerLink]="['/participations/edit?eventId=' + event?.id + '&userId=' + user?.id]"> {{ event?.name }}</mat-card-title>
      <div class="link"
           [routerLink]="['/groups/' + event?.group?.id]">{{event?.group?.name}}</div>
    </div>

    <div>
      <div *ngIf="event">{{getTimeRange(event.startTime, event.endTime)}}</div>
      <div>{{ participation.length }}</div>

    </div>
  </mat-card-content>
</mat-card>
