<h1>{{ "participation.signUp" | translate }} {{ signUpEvent?.name }}</h1>
<app-event-details-card
  [signUpEvent]="signUpEvent"
  class="item"
></app-event-details-card>
<mat-card appearance="outlined" class="item">
  <mat-card-header>
    <div mat-card-avatar>
      <img ngxGravatar fallback="mp" [md5Hash]="user?.imageVersion!" />
    </div>
    <mat-card-title>{{ user?.firstName }} {{ user?.lastName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="participationForm"
      class="participation-form"
      (ngSubmit)="onSubmit()"
    >
      <mat-radio-group
        formControlName="status"
        required
        aria-label="Select an option"
      >
        <mat-radio-button [value]="Status.On">
          {{ "participation.attending" | translate }}
        </mat-radio-button>
        <mat-radio-button [value]="Status.Maybe">
          {{ "participation.maybe" | translate }}
        </mat-radio-button>
        <mat-radio-button [value]="Status.Off">
          {{ "participation.notAttending" | translate }}
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>{{ "participation.comment" | translate }}</mat-label>
        <textarea
          formControlName="comment"
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea>
      </mat-form-field>

      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="participationForm.invalid"
        >
          {{ "participation.submit" | translate }}
        </button>
        <button mat-flat-button type="button" (click)="onCancel()">
          {{ "participation.cancel" | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
