:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
}

.page-container {
  width: 100%;

  @media (min-width: 1200px) {
    width: 1170px;
  }
  .breadcrumbs {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  mat-divider {
    margin-bottom: 12px;
  }
}

.title {
  margin-right: 12px;
  cursor: pointer;
}

.active {
  background: rgba(255, 255, 255, 0.25);
}
