:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #EE3C0C;

  .left,
  .right {
    padding: 12px;
  }
}
.page-container {
  width: 100%;

  @media (min-width: 1200px) {
    width: 1170px;
  }
  .breadcrumbs {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  mat-divider {
    margin-bottom: 12px;
  }
}
