<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<br>

<mat-card *ngIf="hasEventPassed(event!.startTime)" appearance="outlined" class="pastevent">
  <mat-card-content>
    <p>Denna sammankomst har redan inträffat!</p>
  </mat-card-content>
</mat-card>


<h1><b>{{(participationFormService.signUpEvent$ | async)?.name}}</b></h1>

<mat-card appearance="outlined" class="item">
  <mat-card-content class="event-description">
    {{(participationFormService.signUpEvent$ | async)?.description}}
    <ul *ngIf="event">
      <li>{{getTime((event.startTime))}}</li>
      <li>{{event.venue}}</li>
    </ul>
  </mat-card-content>
</mat-card>
<br>

<div class="buttons">
  <button mat-raised-button disabled class="btn-kommer" > {{statusArray?.onCounter}} kommer </button>
  <button mat-raised-button disabled class="btn-kanske">{{statusArray?.maybeCounter}} kanske</button>
  <button mat-raised-button disabled class="btn-kommer-inte">{{statusArray?.offCounter}} kommer inte</button>
  <button mat-raised-button disabled class="btn-inte-svarat">{{statusArray?.unregisteredCounter}} har inte svarat</button>
</div>
<br>

<mat-expansion-panel enabled class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Händelser
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list class="mat-list">
    <mat-list-item *ngFor="let logEntry of logentryService.logentry$ | async" class="logentry-list-item">
      <div class="logentry-div">
        <p class="logentry-when">{{getTime(logEntry.when)}}</p>
        <p class="logentry-message">{{logEntry.message}}</p>
      </div>
    </mat-list-item>

  </mat-list>
</mat-expansion-panel>
<br>
<h2>{{"group.members" | translate}}</h2>

<mat-card *ngFor="let user of groupService.users$ | async" appearance="outlined" class="item">
  <mat-card-content>
    <div mat-card-avatar>
      <app-user-avatar [user]="user"></app-user-avatar>
    </div>
    <mat-card-title [routerLink]="['/user/' + user.id]">{{ user.firstName }} {{ user.lastName }}</mat-card-title>

  </mat-card-content>
</mat-card>
