.buttons * {
  margin-right: 10px;
}

.btn-kommer {
  background-color: #5CB85C;
}

.btn-kanske {
  background-color: #f0ad4e;
}

.btn-kommer-inte {
  background-color: #D9534F;
}

.btn-inte-svarat {
  background-color: #777777;
}
