.buttons * {
  margin-right: 10px;
  color: white;

}

.pastevent {
  background-color: lightcoral;
}

.btn-kommer {
  background-color: #5CB85C;
}

.btn-kanske {
  background-color: #f0ad4e;
}

.btn-kommer-inte {
  background-color: #D9534F;
}

.btn-inte-svarat {
  background-color: #777777;
}

.logentry-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
}

.logentry-div p {
  flex: 0 0 auto;
  width: 30%;
}

.logentry-when {
  color: gray;
}
