<mat-card *ngIf="user">
  <mat-card-content>
    <div mat-card-avatar>
      <app-user-avatar [user]="user"></app-user-avatar>
    </div>
    <mat-card-title [routerLink]="['/user/' + user.id]"
      >{{ user.firstName }} {{ user.lastName }}</mat-card-title
    >
    <div [ngSwitch]="status">
      <p *ngSwitchCase="Status.On" class="on">
        {{ "participation.attending" | translate }}
      </p>
      <p *ngSwitchCase="Status.Maybe" class="maybe">
        {{ "participation.maybe" | translate }}
      </p>
      <p *ngSwitchCase="Status.Off" class="off">
        {{ "participation.notAttending" | translate }}
      </p>
      <p *ngSwitchCase="Status.Unregistered" class="unregistered">
        {{ "participation.unregistered" | translate }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
